In [1]:
import pandas as pd

#All Functons Used

def combine(dataSet, combine):
    #Sets all crimes as non forcible
    dataSet.loc[dataSet.Forcible == 'Y', 'Forcible']= 'N'
    
    #If a crime has a negative indicator then remove
    dataSet.loc[(dataSet.Offense.str.contains('NO ASSAULT') == True), 'Offense']= 'N'
    
    #Reported as Section can sometimes differ from the offense Rape is included in sexual
    dataSet.loc[(dataSet.Reported_As.str.contains('SEXUAL') == True), 'Offense'] = 'SEXUAL'
    dataSet.loc[(dataSet.Offense.str.contains('RAPE') == True), 'Offense']= 'SEXUAL'
    
    #Both Homicide and manslaughter are included as murder
    dataSet.loc[(dataSet.Offense.str.contains('HOMICIDE') == True), 'Offense']= 'MURDER'
    dataSet.loc[(dataSet.Offense.str.contains('MANSLAUGHTER') == True), 'Offense']= 'MURDER'
    
    #Combines all offenses with the same crime label as such
    #Also sets those crimes to forcible 
    for x in combine:
        dataSet.loc[(dataSet.Offense.str.contains('NO '+ x) == True), 'Offense']= 'N'
        dataSet.loc[(dataSet.Offense.str.contains(x) == True), 'Offense']= x
        dataSet.loc[dataSet.Offense == x, 'Forcible']= 'Y'
    
    #Removes all non forcible crimes and crimes without victims
    dataSet = dataSet[dataSet.Forcible == 'Y']
    dataSet = dataSet[dataSet.Victim_Gender.notna()]
    
    return dataSet

def breakdown(dataSet, crime_labels):
    
    #Prints out each crime breakdown
    for x in crime_labels:
        sum = len(dataSet[dataSet.Offense == x])
        print(x + (10 - len(x)) * " " + str(sum))

In [2]:
raw_data = pd.read_csv('Data/ch_crime.csv')

#Take out unnecessary variables
formated_data = raw_data[['X','Y', 'Offense', 'Date_of_Occurrence', 'Forcible', 'Weapon_Description', 'Victim_Gender', 'Reported_As']]

#Rename X and Y
formated_data = formated_data.rename(columns = {'X':'Longitude','Y':'Latitude'})

In [3]:
# split column and add new columns to formated_data

formated_data[['Date', 'Time']] = formated_data['Date_of_Occurrence'].str.split(' ', expand=True)
formated_data['Time'] = formated_data['Time'].str[:-3]

In [4]:
#Combines like crimes and removed everything else

crime_labels = ['SEXUAL', 'ASSAULT', 'VANDALISM', 'B&E', 'LARCENY',  'ROBBERY', 'MURDER', 'BURGLARY']
combined_data = combine(formated_data, crime_labels)

breakdown(combined_data, crime_labels)

SEXUAL    1017
ASSAULT   3141
VANDALISM 1734
B&E       5931
LARCENY   5145
ROBBERY   254
MURDER    12
BURGLARY  360

In [6]:
#Sorts data by Geographic location
combined_data = combined_data.sort_values(['Longitude', 'Latitude'])

#Resets mixed index
cleanSet = combined_data.reset_index()

#Removes all no longer nessassary infomation
cleanSet = cleanSet[['Longitude','Latitude', 'Offense', 'Time']]

cleanSet

       Longitude   Latitude    Offense      Time
0     -79.452193  35.737344    ASSAULT  02:30:00
1     -79.185550  35.922087        B&E  14:00:00
2     -79.185550  35.922087        B&E  14:00:00
3     -79.185550  35.922087        B&E  14:00:00
4     -79.185501  35.922094  VANDALISM  11:12:00
...          ...        ...        ...       ...
17589 -78.974294  35.915845        B&E  11:20:00
17590 -78.962904  35.967732    LARCENY  00:01:00
17591 -78.958768  35.919429    LARCENY  20:00:00
17592 -78.935082  35.979530        B&E  03:37:00
17593 -78.923470  36.029718    LARCENY  18:30:00

[17594 rows x 4 columns]